
/* Style sheet for Images app. */



/* General Layout */


h1 {
    text-align: left;
    color: #006D77;
}

h2 .text-center{
    text-align: center;
}

#headers {
    color: #006D77;
}

/* Navbar */

#navbar{
    background-color:#FFDDD2;
  }


.nav-item {
    font-size: 20px;
    color: #006D77;
}
