
/* Style sheet for Images app. */



/* General Layout */
body {
    color:#0a043c;
}
h1, h2, h3, h4, h5, #footer-text {
    font-family: "Raleway", sans-serif;
}

h1 {
    text-align: left;
    color: #006D77;
}

h2 .text-center{
    text-align: center;
}

#headers {
    color: #006D77;
}



/* Navbar */
#navbar{
    background-color:#FFDDD2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    text-align: center;
    padding: 20px;
    z-index: 500;
    justify-content: center;
  }


.nav-item {
    font-size: 20px;
    color: #006D77;
}

.opening-info {
    padding-top: 100px;
}
.opening-section, .about-section, .skills-section, 
.projects-section, .cert-section, .contact-section {
    padding: 50px;
}

/* Footer */
#footer-text {
    color: #E29578;
    font-weight: bold;
    font-size: 18px;
}