
/* Style sheet for Images app. */



/* General Layout */


body {
	background-color: #fff3e6;
    color: #0d335d;
}

h2 .text-center{
    /* font-family: ;
    color: ; */
    text-align: center;

}