<!DOCTYPE html>

<html>
    <head>
        <title>
            {% block title %}Marissa Aguilera - Portfolio{% endblock %}
        </title>

        <!-- Favicon Links -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <!-- Bootstrap CSS from getbootstrap.com -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


        <!-- jQuery script tag from code.jquery.com -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

        <!-- Script tags from getbootstrap.com -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

                
        <!-- Load my stylesheet -->
        <link rel="stylesheet" href="/static/css/styles.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
    </head>


    <body>
        <!-- Navbar nav-links -->

        <nav class="navbar navbar-expand-lg navbar-light container" id="navbar"> 

            <div class="collapse navbar-collapse" id="navbarSupportedContent">  
                <div class="navbar-nav justify-content-between">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="#about-section" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#skills-section" class="nav-link">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a href="#projects-section" class="nav-link">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact-section" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            
            <!-- Opening Section -->
            <div class ="opening-section container" id ="opening-section">
                <div class="opening-info row" id="opening-info">
                    <div class="opening-pic col"id="opening-pic">
                        <img src="/static/imgs/headshot.png" alt="Headshot" width="270" height="270">
                    </div>
                    <div class="opening-text col"id="opening-text">
                        <h4>Hi, my name is</h4>
                        <h1>Marissa Aguilera.</h1>
                    </br>
                        <h4>I'm a Software Engineer based in San Francisco, CA who loves hiking, 
                             digital illustration, and coding. </h4></br>
                    </div>
                </div>
                <hr>
            </div>
        </div>


            <!-- About Section -->
            <div class ="about-section container" id ="about-section">
                <div class="about-info row">

                    <div class="about-text col"id="about-text">
                        <p>
                            <h2 class="text-center" id="headers">ABOUT</h2>
                            Hello! I'm Marissa, a Software Engineer based in San Francisco, CA.
                            In 2020 I decided to make a career switch and pursue software 
                            engineering at Hackbright Academy. I learned a full-stack curriculum and computer 
                            science fundamentals during the 12-week coding bootcamp.
                            As I transition into this new career, I am very eager to learn new technologies and 
                            work on a team where the work I am doing is meaningful and impactful. 
                            I enjoy building relationships with team members, collaborating cross-functionally, and overall 
                            bringing a positive attitude to the team. I am a very creative person and am excited for my 
                            future in tech!
                        </br>  
                    </p>
                </div>
            </div>
            <hr>
        </div>
        
        
        
        <!-- Skills Section -->
        <div class="skills-section container" id="skills-section">
            <h2 class="text-center" id="headers">SKILLS</h2>
            <div class="skills-section row">
            
                <!-- Technical Skills Section -->
                <div class ="tech-skills-section col">
                    <div id="tech-skills-text">
                        <ul>
                            <li>Python</li>
                            <li>JavaScript</li>
                            <li>SQL</li>
                            <li>PostgreSQL</li>
                            <li>SQLAlchemy</li>
                        </ul>
                    </div>
                </div>
                <!-- Technical Skills Section 2-->
                <div class ="tech-skills-2-section col">
                    <div id="tech-skills-text">
                        <ul>
                            <li>OOP</li>
                            <li>React.js</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Flask</li>
                        </ul>
                    </div>
                </div>
                <!-- Technical Skills Section 3-->
                <div class ="tech-skills-3-section col">
                    <div id="tech-skills-text">
                        <ul>
                            <li>jQuery</li>
                            <li>Bootstrap</li>
                            <li>Jinja</li>
                            <li>Git/GitHub</li>
                        </ul>
                    </div>
                </div>
                
                <!-- Soft Skills Section -->
                <div class ="soft-skills-section col">
                    <div id="soft-skills-text">
                        <ul>
                            <li>Communication</li>
                            <li>Organization</li>
                            <li>Adaptability</li>
                            <li>Problem Solver</li>
                            <li>Time Management</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        
        
        
        <!-- Project Section -->
        <div class ="projects-section container" id="projects-section">
            <h2 class="text-center" id="headers">PROJECTS</h2>
            <div class="projects-text" id="projects-text row">
                <div id="project-title">National Park Service Guide</div>
                <div id="npsg-link"><a href="http://www.nps-guide.com/" target="_blank">Check it out here</a> | 
                <a href="https://github.com/Meaguileraa/NPS-Guide" target="_blank">See more on GitHub</a></div>

                <div class="nps-project-pic col"id="nps-project-pic">
                    <img src="/static/imgs/NPS-Pic.png" alt="NPS-Pic" width="350" height="250"> 
                </div>
                
                <div class="nps-project-info col offset"id="nps-project-info">
                    <p>
                        Start planning your next visit to any of the 62 National Parks. National Park Service Guide 
                        is a full-stack web application that allows a user to choose a National Park and view the 
                        activities available at that park to save to a bucket list. I utilized the National Park Service 
                        API to retreive the necessary data to provide park and activity information.  </br>
                        Tech Stack: Python, Flask, PostgreSQL, SQLAlchemy, JavaScript, jQuery, HTML, Jinja, CSS, Bootstrap
                    </p>
                </div>
            <div class="projects-text" id="projects-text row">
                <div id="project-title">Connect 4</div>
                <div id="connect4-link"><a href="https://repl.it/@marissaea/Prep-Project-Connect4#main.py" target="_blank">Check it out here</a> | 
                <a href="https://github.com/Meaguileraa/Connect4" target="_blank">See more on GitHub</a></div>

                <div class="connect4-project-pic col"id="connect4-project-pic">
                    <img src="/static/imgs/Connect4-Pic.png" alt="Connect4-Pic" width="350" height="250"> 
                </div>
                
                <div class="connect4-project-info col offset"id="nps-project-info">
                    <p>
                        Built a two-player Connect4 game in Python using Repl.it IDE.  </br>
                    </p>
                </div>
            </div>
            <hr>
        </div>



        <!-- Certification Section -->
        <div class ="cert-section container" id="cert-section">
            <h2 class="text-center" id="headers">CERTIFICATIONS</h2>
            <div id="cert-text row">
                Images of cert here 
                <!-- <div class="nps-project-pic col"id="nps-project-pic">
                    <img src="/static/imgs/NPS-Pic.png" alt="NPS-Pic" width="350" height="250"> 
                </div> -->
                
            </div>
            <hr>
        </div>
        

        

    </body>
    
    
    
    <!-- Contact Section -->
    <footer>
        <div class ="contact-section container" id="contact-section">
            <h2 class="text-center" id="headers">CONTACT</h2>
            <div class="social-links row">
                <div class="linkedin-link col">
                    <a href="https://www.linkedin.com/in/marissa-aguilera/" target="_blank"><img src="/static/imgs/linkedin-icon.png" alt="Direct to LinkedIn" height="50" width="50"></a>
                </div>
                <div class="github-link col">
                    <a href="https://github.com/Meaguileraa" target="_blank"><img src="/static/imgs/github-icon.png" alt="Direct to GitHub" height="70" width="70"></a>
                </div>
                <div class="email-link col">
                    <a href="mailto:marissaeaguilera@.gmail.com"><img src="/static/imgs/email-icon.png" alt="Direct to Email" height="60" width="60"></a>
                </div>
                <div class="resume-download col">
                    <a href="/static/imgs/resume_download.pdf" class="nav-link" alt="Download Current Resume" download="Resume"><img src="/static/imgs/resume-download.png" alt="Download Resume" height="60" width="60"></a>
                </div>
            </div>
            <p class="text-center" id="footer-text">
            </br>Designed & Built by Marissa Aguilera 
            </p>
        </div>
    </footer>
</html>
