<!DOCTYPE html>

<html>
    <head>
        <title>
            {% block title %}Marissa Aguilera - Portfolio{% endblock %}
        </title>

        <!-- Favicon Links -->
        <!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest"> -->

        <!-- Bootstrap CSS from getbootstrap.com -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Load my stylesheet -->
        <link rel="stylesheet" href="/static/css/styles.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
    </head>


    <body>
        <!-- Navbar nav-links -->

        <nav class="navbar navbar-expand-lg navbar-light container" id="navbar"> 

            <div class="collapse navbar-collapse" id="navbarSupportedContent">  
                <div class="navbar-nav justify-content-between">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="#about-section" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#skills-section" class="nav-link">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a href="#projects-section" class="nav-link">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a href="#work-experience-section" class="nav-link">Work Experience</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact-section" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item resume-download">
                            <a href="/static/imgs/resume_download.pdf" class="nav-link" alt="Download Current Resume" download="Resume">
                                Resume
                            </a>
                        </li>
                    </ul>
                    <!-- <div id="resume-download">
                        <a href="/static/imgs/resume_download.pdf" alt="Download Current Resume" download="Resume">
                            Resume
                        </a>
                    </div> -->
                </div>
            </nav>

            <div class="name container">
                <h1>Marissa Aguilera</h1>
            </div>
            
            <!-- About Section -->
            <div class ="about-section container" id ="about-section">
                <!-- <div id="about-title">About</div> -->
                <div class="about-info row">
                    <div class="about-pic col"id="about-pic">
                        <img src="/static/imgs/headshot.png" alt="Headshot" width="250" height="250">
                    </div>
                    <div class="about-text col"id="about-text">
                        <p>
                            <h2>About</h2>
                            Hi, I'm Marissa and I'm a Software Engineer based in San Francisco, CA. I received my 
                            Bachelors degree in Business from California State University, Chico and started my career 
                            in technical recruitment. Being in this field of work allowed me to speak to a lot of 
                            Software Engineers daily, which continuosly piqued my interest. This led to me deciding 
                            to make a career switch and pursue software engineering. In September 2020 I completed
                            Hackbright Academy's 12 week coding bootcamp where I learned a full-stack curriculum and 
                            computer science fundamentals.</br>  
                        </br>
                            As I transition into this new career, I am very eager to learn new technologies and 
                            am passionate about working on a team where the work I am doing is meaningful and impactufl. 
                            I enjoy building relationships with team members, collaborating cross-functionally, and overall 
                            bringing a positive attitude to the team. Aside from coding, I enjoy hiking, roller skating, 
                            and creating digital illustrations. I am a very creative person and am excited for my 
                            future in tech!
                    </p>
                </div>
            </div>
        </div>
        
        
        
        <!-- Skills Section -->
        <h2 class="text-center">Skills</h2>
        <div class="skills-section container" id="skills-section">
            <div class="skills-section row">
            
                <!-- Technical Skills Section -->
                <div class ="tech-skills-section col">
                    <div id="tech-skills-title">Technical Skills</div>
                    <div id="tech-skills-text">
                        <ul>
                            <li>Python</li>
                            <li>JavaScript</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>SQL</li>
                            <li>Flask</li>
                            <li>jQuery</li>
                            <li>React.js</li>
                            <li>Bootstrap</li>
                            <li>Jinja</li>
                            <li>PostgreSQL</li>
                            <li>SQLAlchemy</li>
                            <li>Git/GitHub</li>
                        </ul>
                    </div>
                </div>
                
                <!-- Soft Skills Section -->
                <div class ="soft-skills-section col">
                    <div id="soft-skills-title">Soft Skills</div>
                    <div id="soft-skills-text">
                        <ul>
                            <li>Communication</li>
                            <li>Organization</li>
                            <li>Adaptability</li>
                            <li>Team Player</li>
                            <li>Creativity</li>
                            <li>Problem Solver</li>
                            <li>Collaboration</li>
                            <li>Empathy</li>
                            <li>Time Management</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <!-- Project Section -->
        <h2 class="text-center">Projects</h2>
        <div class ="projects-section container" id="projects-section">
            <div id="projects-text row">
                <div class="project col">
                    <div class="npsg-section">
                        <div id="npsg-title">NPS Guide</div>
                        <div id="npsg-link"><a href="http://www.nps-guide.com/">NPS Guide</a></div>
                        <div id="npsg-link"><a href="https://github.com/Meaguileraa/NPS-Guide">GitHub</a></div>
                        <div id="npsg-text">
                            <p>
                                Start planning your next visit to any of the 62 National Parks. National Park Service Guide 
                                is a full-stack web application that allows a user to choose a National Park and view the 
                                activities available at that park to save to a bucket list. I utilized the National Park Service 
                                API to retreive the necessary data to provide park and activity information.  
                            </p>
                            <div id ="npsg-tech-stack">
                                <p>
                                    Tech Stack: Python, Flask, PostgreSQL, SQLAlchemy, JavaScript, jQuery, HTML, Jinja, CSS, Bootstrap
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <!-- Work Experience Section -->
        <h2 class="text-center">Work Experience</h2>
        <div class ="work-experience-section container" id="work-experience-section">
            <div id="work-experience-text row">
                <div class="kt-src-section col">
                    <div id="kt-src-title">KeepTruckin | Technical Sourcing Specialist | SF, CA | Oct 2018 - Feb 2020</div>
                    <div id="kt-src-text">
                        <ul>
                            <li>Collaborated with 20+ engineers on needs of role, interview strategies, and to build pipeline</li>
                            <li>Independently owned six SWE roles where I supported candidates from source to hire</li>
                        </ul>
                    </div>
                </div>
                <div class="kt-rc-section col">
                    <div id="kt-rc-title">KeepTruckin | Recruiting Coordinator | SF, CA | Jan 2018 - Oct 2018</div>
                    <div id="kt-rc-text">
                        <ul>
                            <li>Scheduled number of phone, video, and onsite interviews at our San Francisco, Buffalo, and Nashville offices</li>
                            <li>Utilized Lever ATS and later Greenhouse ATS to track requisitions and candidate progress</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- jQuery script tag from code.jquery.com -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        
        <!-- Script tags from getbootstrap.com -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
    </body>
    
    
    
    <!-- Contact Section -->
    <footer>
        <h2 class="text-center">Contact</h2>
        <div class ="contact-section container" id="contact-section">
            <div class="social-links row">
                <div class="linkedin-link col">
                    <a href="https://www.linkedin.com/in/marissa-aguilera/"><img src="/static/imgs/linkedin-icon.png" alt="Direct to LinkedIn" height="50" width="50"></a>
                </div>
                <div class="github-link col">
                    <a href="https://github.com/Meaguileraa"><img src="/static/imgs/github-icon.png" alt="Direct to GitHub" height="70" width="70"></a>
                </div>
                <div class="email-link col">
                    <a href="mailto:marissaeaguilera@.gmail.com"><img src="/static/imgs/email-icon.png" alt="Direct to Email" height="60" width="60"></a>
                </div>
            </div>
            <p class="text-center">
                Designed & Built by Marissa Aguilera 
            </p>
        </div>
    </footer>
</html>
